
body {
  background: black;
  resize: both;
  overflow: auto;
  padding-left: 35px;
  text-align: center;
}
legend {
color: white;
display: flex;
font-size: 20pt;
padding-top: 10px;
}
  section {
    text-align: center;
  }
.links  {
  font-family: 'Waiting for the Sunrise', cursive;
  display: inline-block;
  position: sticky;
  color: white;
  text-decoration: none;
  margin: 5px;
  font-size: 20pt;

}
#merchTitle, #uspicture {
  padding-top: 15px;
  font-family: 'Waiting for the Sunrise', cursive;
  color: white;
  text-align: center;
  font-size: 35pt;
  padding-bottom: 35px;
}




button {
  margin-top: 20px;
  border-radius: 6px;
  font-size: 10pt; 
  font-weight: bolder;
  padding: 8px;
}
fieldset {
  color: white;
  text-align: right;
  padding-right: 400px;
  padding-top: 10px;
  resize: both;
  overflow: auto;
}
input {
  margin-top: 5px;
  margin-left: 5px;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40pt;

}
#sales {
  position: absolute;

}
#logo {
display: block;
margin: 0 auto;


}

td:hover {
  background-color: rgb(255, 191, 0);
  transition: all .5s ease-out;
  -webkit-transform: scale(1.4);
  -ms-transform: scale(1.4);
  transform: scale(1.4);
}
th:hover {
  background-color: rgb(255, 191, 0);

}

 
table {
  border: 20px solid rgb(198, 118, 56);
  overflow-y: scroll;
  margin-left: auto;
  margin-right: auto;
  empty-cells: hide;

} 

td {
	padding: 5px;
  border: 1px solid black;
  background: white;
  text-align: center;
}

th {
  background-color:rgb(189, 56, 46);
  border: 1px solid black;
  padding: 5px;
  color: white;
  font-size: 18px; 
  padding-top: 15px;
  padding-bottom: 15px;
}

td:last-child, tr:last-child  {
font-weight: bold;

}
p {
  color: white;
  padding-top: 20px; 

}
ul {
  color: white;
  font-family: 'Unlock', cursive;
  border-bottom: 2px solid white;
  padding-bottom: 75px;
  font-size: 15pt;

}
#hours {
  font-size: 15pt;
  padding-top: 10px;
  color: green;

}
#location {
  padding-bottom: 10px;
  font-size: 25pt;
}

#review {
  font-family: 'Advent Pro', sans-serif;
  margin-top: 17px;
  padding-top: 5px;
  padding-bottom: 5px;
  display: block;

  color: rgb(255, 255, 255);

}
#title {
  font-family: 'Gloria Hallelujah', cursive;
  padding-left: 10px;
  font-size: 30px;

}

.red {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  color: red;
}

