body {
  background-color: black;
  display: inline-flex; 
  color: white;
  margin: 10px;
  
}

h1 {
font-size: 45pt;
text-align: center;
}

h3 {
  font-size: 25pt;
  color: white;
  text-align: left;
  padding-bottom: 10px;
}

li, h2 {
  color: white;
  margin-left: 10px;
  text-align: left;
  padding-bottom: 10px;
      
}

ul {
  
  list-style-image: url('/cookie.png');
}


* {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  background: #444;
}

h1, h2 {
	color: white;
}

table {
	border: 10px solid #4ABDAC;
	empty-cells: hide;
}

td {
	padding: 20px;
	border-radius: 15px;
  border: 1px solid black;
  background: white;
}

th {
	background-color: #F7B733;
  color: #76323F;
  padding: 10px;
}