
* {
  font-family: 'Montserrat', sans-serif;
  color: black;
}

body {
  background: black;
}

h2 {
  color: white;
  text-align: center;
  font-size: 40pt;

}
span {
  clear: none;
}
img, section {
  display: block;
  margin-left: auto;
  margin-right: auto;

}

td:hover {
  background-color: rgb(255, 191, 0);
}
th:hover {
  background-color: rgb(255, 191, 0);

}



table {
  border: 20px solid rgb(198, 118, 56);
  margin-left: auto;
  margin-right: auto;
  empty-cells: hide;
}

td {
	padding: 10px;
	/* border-radius: 10px; */
  border: 1px solid black;
  background: white;
  text-align: center;
}

th {
  background-color:rgb(189, 56, 46);
  border: 1px solid black;
  padding: 5px;
  /* border-radius: 10px; */

  color: white;
  font-size: 18px; 
  padding-top: 15px;
  padding-bottom: 15px;
}